*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #f1f9ca;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color:#000000(9, 7, 7);
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color:#87b5da(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #87b5da;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    height: 65vh !important;
    background: url(imag/imageduh.jpg) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 45px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(49, 101, 81);
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #bd85c6;
    color:#ffffff;
    text-decoration: none;
    background: #bd85c6;
}

.btn:hover {
    background: none;
    
}

.btn-home {
    display: flex;
} 

.btn-home a {
    margin: 0 10px;
}


.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 30px;
    background: #fff
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #87b5da;
    text-align: center;
    border-radius: 1rem;
    box-shadow:#87b5da(255, 255, 255, 0.5);
    margin: 2rem;   
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    background: #ba8989;
    font-size: 2rem;
    margin: 1rem 0;

}

.box-container .box h3 {
    font-size: 20px;
    color: #b071e0;

}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.about {
    background: #87b5da;
}

.price {
    background: url(imag/IMAGEN5.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align:center;
}



.contact {
    padding-top: 20px;
    background:#87b5da;
    padding-bottom: 0;
}


@media (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 100vh;
    }

    .navbar {
        display: none;
    }
   
    
}
